<style type="text/css">
    .modal
    {
        width: 200px;
    }

    .modal-footer
    {
        padding-top: 7px;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="close()">×</button>
    <h3>{{ title }}</h3>
</div>

<div class="modal-body" >
    <input type="text" class="form-control input-sm" placeholder="id" ng-model="id" required style="margin-bottom: 2px">
    <input type="password" class="form-control input-sm" placeholder="password" ng-model="password" ng-enter="signIn()">
</div>

<div class="modal-footer">
    <button ng-click="close()" class="btn btn-default" >{{ common_close }}</button>
    <button type="submit" class="btn btn-primary" ng-click="signIn()">{{ logindialog_login_signin }}</button>
</div>


